section.design {
  min-height: 100vh;
  padding: 0;
}

.img-box img {
  display: block;
  max-width: 100%;
}

.container_slider {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 15px;
  max-width: 1200px;
  margin: auto;
}

.design .section_title {
  padding: 30px 0 0 30px;
}

.slider .item {
  position: relative;
  max-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 100%;
}

.slider .img-box {
  width: 50%;
}

.slider .caption {
  background-color: rgba(255, 255, 255, 1);
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23FFCC00FF' stroke-width='8' stroke-dasharray='310' stroke-dashoffset='100' stroke-linecap='square'/%3e%3c/svg%3e");  flex-basis: 40%;
  margin-left: -150px;
  padding: 25px;
  border: 15px solid #fff;
}

.slider .img-box img {
  /* Для заповнення ілюстрацією батьківського контейнера   */
  /* Застосовуємо власт. object-fit  */
  object-fit: cover;
  object-position: center center;
  height: 100%;
  width: 100%;
}

/* Якщо потрібно інакше позиціонувати ілюстрацію */
/* (стосується в першу чергу телефонів) */
/* додавайте додатковий клас в html */
/* і описуйте в css інакше позиціонування */
.slider .img-box.pos-bottom img {
  object-position: center bottom;
}

.slider .img-box.pos-left img {
  object-position: left center;
}

.caption {
  font-size: 1.2rem;
  color: #222;
  padding: 25px;
}

.caption h3 {
  color: #222;
  font-size: 2rem;
  margin-bottom: .5em;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: 700;
}

@media screen and (max-width:768px) and (orientation: portrait) {


  .slider .item {
      max-height: 100vh;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
  }

  .slider .img-box {
      width: 100%;
  }

  .slider .caption {
      width: 80%;
      flex-basis: 80%;
      margin-left: 0;
      margin-top: -50px;
  }
}

@media screen and (max-width:640px) and (orientation: portrait) {

  .slider .caption {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23FFCC00FF' stroke-width='8' stroke-dasharray='340' stroke-dashoffset='160' stroke-linecap='square'/%3e%3c/svg%3e");
      width: 100%;
      flex-basis: 100%;
      padding: 25px;
      margin-left: 0;
      margin-top: 20px;
  }
}